.top-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-brand {
  color: $primary;
  font-weight: bold;
  font-size: 1.2rem;
}
.btn-light {
  background-color: #fff;
  border-color: #dee2e6;
  color: #212529;
}
.btn-light:hover {
  border-color: #c1c9d0;
  color: $primary;
}
.slider {
  &__nav {
    max-height: 270px;
  }
}
@media (min-height: 1200px) {
  .slider {
    &__nav {
      max-height: 300px;
    }
  }
}
@media (min-height: 1400px) {
  .slider {
    &__nav {
      max-height: 350px;
    }
  }
}

// cards

.card .img-wrap {
  height: 240px;
  display: block;
  padding: 1rem;
  position: relative;
  text-align: center;
}
.card .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  object-fit: cover;
}
.card .img-wrap .badge {
  position: absolute;
  top: 10px;
  left: 10px;
}
.info-wrap {
  padding: 1rem;
}
.card .title {
  display: block;
  text-decoration: none;
  color: #51585e;
}
